@model CRMBytholod.ViewModels.UserEditVM

@{
    ViewData["Title"] = "Изменение пользователя";
}

    <h1>Изменение пользователя</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="user.ID_USER" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="user.Name" class="control-label">Имя</label>
                <input asp-for="user.Name" class="form-control" />
                <span asp-validation-for="user.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Тип пользователя</label>
                <select asp-for="user.TYPE_USER.ID_TYPE_USER" class="form-control">
                    <option value="@Model.user.TYPE_USER.ID_TYPE_USER">@Model.user.TYPE_USER.NameTU</option>
                    @foreach (var item in Model.TypeUsers)
                    {
                        <option value="@item.ID_TYPE_USER">@item.NameTU</option>
                    }
                </select>
                <span asp-validation-for="user.TYPE_USER.ID_TYPE_USER" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="user.Login" class="control-label">Логин</label>
                <input asp-for="user.Login" class="form-control" />
                <span asp-validation-for="user.Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.PasswMaster" class="control-label">Пароль</label>
                <input asp-for="user.PasswMaster" class="form-control" />
                <span asp-validation-for="user.PasswMaster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.Phone" class="control-label">Телефон для мастера, VoxImplant</label>
                <select asp-for="user.Phone" class="form-control">
                    <option value="-">-</option>
                    <option value="79993331856">79993331856</option>
                    <option value="79993334728">79993334728</option>

                </select>
                <span asp-validation-for="user.Phone" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
