@{
    ViewData["Title"] = "Главная";
}

    <div class="text-center">
        <h1 class="display-4">Добро пожаловать</h1>
        <h3>CRM Быт холод</h3>
        <br>
        @if (User.Identity.Name != null)
        {
            <p style="font-size: x-large;">Перейти в <a asp-action="Orders">заявки</a>.</p>
        }
    </div>
